@charset "utf-8";

/* ====================================
// プロフィール
// ==================================== */

.profile {
    max-width: 920px;
    display: flex;
    justify-content: center;
    gap: 6.1%;/* 56 / 920 */
    margin: 0 auto;
    padding-bottom: 104px;
    /* 初期値ではalign-items: strechになっており、高さが大きい方に引き伸ばされてしまう */
    align-items: center;
}

.profile__image {
    width: 432px;
    height: auto;
    aspect-ratio: 1 /1;
    overflow: hidden;
}

.profile__img {
    width: 100%;
    height: 100%;
    /* aspect-ratio: 1 /1; */
    object-fit: cover;
    /* object-fit: contain; */
    object-position: bottom;
    /* border-radius: 216px; */
    border-radius: 50%;
}

.profile__text {
    /* width: 500px; */
    width: 432px;
    height: auto;
}

.profile__nameEn {
    font-size: 44px;
    font-weight: bold;
    /* padding-top: 48px; */
    padding-top: 64px;
    padding-bottom: 20px;
}

.profile__nameJa {
    font-size: 30px;
    padding-bottom: 40px;
}

.profile__basicInfo {
    font-size: 16px;
    line-height: 1.75;
    padding-bottom: 16px;
}

.profile__career {
    font-size: 16px;
    line-height: 1.75;
}

/* ====================================
// FAVORITE
// ==================================== */
.headingAbout {
    width: 212px;
    margin: 0 auto;
    text-align: center;
}

.headingAbout__text {
    width: auto;
    font-size: 40px;
    /* font-weight: bold; */
    padding-bottom: 16px;
    border-bottom: 3px solid #333;
    margin-bottom: 64px;
}

.favorite__text {
    font-size: 20px;
    text-align: center;
    margin-bottom: 16px;
}

.favorite__image {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.favorite__img {
    width: 170px;
    height: 170px;
    padding-bottom: 144px;
}

/* ====================================
// SKILLS
// ==================================== */
.skills {
    max-width: 920px;
    margin: 0 auto;
    padding-bottom: 336px;
}

.skills__list {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.skills__item {
    display: flex;
    gap: 56px;
}


.skills__img {
    width: 340px;
    height: auto;
    object-fit: contain;
    border-radius: 34px;
    border: solid 2px #333;
}

.skills__title {
    padding-top: 8px;
    padding-bottom: 16px;
    font-size: 30px;
    font-weight: bold;
}

.skills__content {
    font-size: 16px;
    line-height: 1.75;
    padding-bottom: 32px;
}

.skills__toolTitle {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 16px;
}

.skills__toolContent {
    font-size: 16px;
}