@charset "utf-8";

/* ====================================
// プロフィール
// ==================================== */

.profile {
    max-width: 920px;
    display: flex;
    justify-content: center;
    gap: 6.1%;/* 56 / 920 */
    margin: 0 auto;
    padding-bottom: 104px;
    /* 初期値ではalign-items: strechになっており、高さが大きい方に引き伸ばされてしまう */
    align-items: center;
}

.profile__image {
    width: 432px;
    height: auto;
    aspect-ratio: 1 /1;
    overflow: hidden;
}

.profile__img {
    width: 100%;
    height: 100%;
    /* aspect-ratio: 1 /1; */
    object-fit: cover;
    /* object-fit: contain; */
    object-position: bottom;
    /* border-radius: 216px; */
    border-radius: 50%;
}

.profile__text {
    /* width: 500px; */
    width: 432px;
    height: auto;
}

.profile__nameEn {
    font-size: 44px;
    font-weight: bold;
    /* padding-top: 48px; */
    padding-top: 64px;
    padding-bottom: 20px;
}

.profile__nameJa {
    font-size: 30px;
    padding-bottom: 40px;
}

.profile__basicInfo {
    font-size: 16px;
    line-height: 1.75;
    padding-bottom: 16px;
}

.profile__career {
    font-size: 16px;
    line-height: 1.75;
}

@media screen and (max-width: 1000px) {
        .profile__nameEn {
        font-size: 36px;
    }
}

@media screen and (max-width: 768px) {
    .profile {
        flex-direction: column;
        gap: 30px;
        padding-bottom: 73px; /* 80 - 7 */
        padding-bottom: 113px; /* 120 - 7 */
    }

    .profile__text {
        width: 300px;
    }

    .profile__image {
        width: 254px;
    }

    .profile__nameEn {
        font-size: 24px;
        padding-top: 0;
        padding-bottom: 12px;
    }

    .profile__nameJa {
        font-size: 18px;
        padding-bottom: 17px; /* 24 - (14 / 2) */
    }

    .profile__basicInfo {
        font-size: 14px;
        padding-bottom: 14px;
    }

    .profile__career {
        font-size: 14px;
    }
} 

/* ====================================
// FAVORITE
// ==================================== */
.headingAbout {
    width: 212px;
    margin: 0 auto;
    text-align: center;
}

.headingAbout__text {
    width: auto;
    font-size: 40px;
    /* font-weight: bold; */
    padding-bottom: 16px;
    border-bottom: 3px solid #333;
    margin-bottom: 64px;
}

.favorite__text {
    font-size: 20px;
    text-align: center;
    margin-bottom: 16px;
}

.favorite__image {
    display: flex;
    justify-content: center;
    /* gap: 64px; */
    gap: 6.4%;
}

.favorite__img {
    width: 170px;
    height: auto;
    aspect-ratio: 1 / 1;
    padding-bottom: 144px;
}

@media screen and (max-width: 768px) {
    .headingAbout {
        width: 130px;
    }
    .headingAbout__text {
        font-size: 24px;
        padding-bottom: 12px;
        margin-bottom: 32px;
    }

    .favorite__text {
        font-size: 14px;
    }

    .favorite__image {
        max-width: 600px;
        margin: 0 auto;
        /* justify-content: space-between; */
        /* gap: 0; */
        gap: 5.0%;
    }

    .favorite__img {
        width: 120px;
        padding-bottom: 120px;
    }
}

/* ====================================
// SKILLS
// ==================================== */
.skills {
    max-width: 920px;
    margin: 0 auto;
    padding-bottom: 336px;
}

.skills__list {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.skills__item {
    display: flex;
    /* gap: 56px; */
    gap: 6.1%; /* 56 / 920 */
}

.test {
    display: flex;
    gap: 6.1%;
}

.skills__image {
    width: 37.0%;
}

.skills__text {
    /* width: 63.0%; */
    width: 56.9%; /* 63.0 - 6.1 */
}

.skills__img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 34px;
    border: solid 2px #333;
}

.skills__title {
    padding-top: 8px;
    padding-bottom: 16px;
    font-size: 30px;
    font-weight: bold;
}

.skills__content {
    font-size: 16px;
    line-height: 1.75;
    padding-bottom: 32px;
}

.skills__toolTitle {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 16px;
}

.skills__toolContent {
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .skills {
        padding-bottom: 144px;
    }

    .skills__list {
        max-width: 300px;
        margin: 0 auto;
    }
    
    .skills__item {
        flex-direction: column;
        gap: 24px;
    }

    .skills__image {
        width: 300px;
    }

    .skills__text {
        width: 300px;   
    }

    .skills__title {
        font-size: 24px;
    }

    .skills__content {
        font-size: 14px;
    }
}