@charset "utf-8";
/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
div,
form,
input,
label,
textarea {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #333;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-feature-settings: "palt";
  box-sizing: border-box;
}
a,button {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: 0.3s;
}
a:hover,button:hover {
  /* ホバーした時に半透明になる度合い */
  opacity: 0.7;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}
img {
  width: 100%;
  vertical-align: bottom;
  border: none;
}