@charset "utf-8";

body {
  overflow-x: hidden;
}

.thanksContainer {
    margin: 0 auto;
    padding-top: 296px;
    padding-bottom: 296px;
    text-align: center;
}

.thanksText {
    font-size: 20px;
    /* font-weight: bold; */
    line-height: 1.75;
}