@charset "utf-8";

/* ====================================
// ヘッダー
// ==================================== */

/* ====================================
// カテゴリボタン
// ==================================== */
.category {
    max-width: 880px;
    /* padding-top: 104px; */
    padding-bottom: 96px;
    margin: 0 auto;
}

.category__list {
    /* max-width: 1000px; */
    display: flex;
    align-items: center;
    /* justify-content: center;
    gap: 40px; */
    justify-content: space-between;
}

/* .category__list--sp {
        display: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        padding-bottom: 10px;
    }

    .category__listLast--sp {
        display: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
    } */

.category__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    width: 144px;
    height: 48px;
    border: solid 1px #333;
    border-radius: 24px;
    font-size: 20px;
    font-weight: bold;
}

.category__btn:hover {
    opacity: 0.75;/* ボタンにカーソルを合わせた時の不透明度を調節 */
    /* transition: 0.5s ease; */
    cursor: pointer;
    background-color: #fbff6c;
}

input[name="tab__item"] {
  display: none;
}

input[name="tab__item--sp"] {
  display: none;
}

/*選択されているタブのスタイルを変える*/
/* .category__list input:checked + .category__btn {
  background-color: #fbff6c;
} */
.category input:checked + .category__btn {
  background-color: #fbff6c;
}

.category__list--sp {
    display: none;
}

.category__listLast--sp {
    display: none;
}

@media screen and (max-width: 768px) {
    .category {
        /* max-width: 600px; */
        width: fit-content;
    }

    .category__list {
        gap: 20px;
    }

    .category__btn {
        width: 104px;
        height: 36px;
        border-radius: 18px;
        font-size: 16px;
    }
}

@media screen and (max-width: 650px) {
    .category {
        /* max-width: 500px; */
        width: fit-content;
        padding-bottom: 48px;
    }

    .category__list {
        display: none;
    }

    .category__list--sp {
        /* max-width: 500px; */
        display: block;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        padding-bottom: 10px;
    }

    .category__listLast--sp {
        display: block;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
    }

}

/* ====================================
// グリッド画像
// ==================================== */
#all__content,
#website__content,
#banner__content,
#graphic__content,
#illust__content {
    display: none;
}

#all__content.is-active,
#website__content.is-active,
#banner__content.is-active,
#graphic__content.is-active,
#illust__content.is-active {
    display: block;
}

.noImg__text {
    font-size: 60px;
    font-weight: bold;
    /* padding-top: 96px; */
    padding-bottom: 386px;
    text-align: center;
}

.grid__container {
    /* width: 100%; */
    height: auto;
    /* align-items: stretch; */
    /* padding-top: 96px; */
    padding-bottom: 386px;
    display: grid;
    grid-template-columns	:repeat(3, 1fr);
    /* grid-template-rows	:repeat(4, 1fr); */
    /* gapを%で設定すると横と縦のgap幅が異なる */
    /* gapを%で設定するとgrid全体の高さがgap分短くなってしまう */
    /* gap: 5%; */
    /* gap: 50px 50px; */
    gap: 40px 40px;
}



.grid__item {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border: 2px solid #333;
    border-radius: 12px;
    position: relative;
}

/* .grid__container a:hover .grid__item img {
    background-color: #000;
    opacity: 0.2;
} */

.grid__item--landscape {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border: 2px solid #333;
    border-radius: 12px;
    position: relative;
}

.grid__item::before,
.grid__item--landscape::before {
    background-color: #000;
    opacity: 0; 
    /* transition: opacity 0.3s ease; */
    z-index: 10;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%); 
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.grid__text-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    line-height: 1.75;
    
    z-index: 20;
    
    transform: translateY(20%); 
    opacity: 0;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid__text-content p {
    color: #fff;
    font-weight: bold;
    line-height: 1.75;
}

.underBlank {
    padding-bottom: 16px;
}

/* aの不透明度の設定をホバー時だけリセットCSSの0.7の設定から元に戻しておく */
.grid__container a:hover {
    opacity: 1;
}

.grid__container a:hover .grid__item::before,
.grid__container a:hover .grid__item--landscape::before {
    opacity: 0.7;
    transform: translateY(0);
}

.grid__container a:hover .grid__text-content {
    transform: translateY(0); 
    opacity: 1;
}

.bottomLabel {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    background-color: #000;
    border-radius: 0 0 8px 8px;/* 微妙に線の丸みより内側に入っているため */
    opacity: 0.7;
    text-align: center;
}

.bottomLabel__text {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 50px;
}

.bottomLabel__triangle-right {
    background-color: white;
    height: 8px;
    width: calc(8px / 2 * tan(60deg));
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    position: absolute;
    bottom: 21px;
    right: 30%;
    z-index: 400;
}

.bottomLabel {
    display: none;
}

.row__container {
    display: none;
}

@media screen and (max-width: 900px) {
    .grid__container {
        grid-template-columns	:repeat(2, 1fr);
        gap: 40px 40px;
    }
}

@media screen and (max-width: 768px) {
    .grid__item:hover,
    .grid__item--landscape:hover {
        opacity: 0.7;
        transition: 0.3s;
    }

    .grid__item::before,
    .grid__item--landscape::before,
    .grid__text-content {
        display: none;
    }
    
    .bottomLabel {
        display: block
    }
}

@media screen and (max-width: 500px) {
    .grid__container {
        grid-template-columns	:repeat(1, 1fr);
        width: 300px;
        margin: 0 auto;
    }
    
    .grid__item--landscape {
        aspect-ratio: auto;
    }

    .noImg__text {
        font-size: 36px;
    }

    .grid__container {
        padding-bottom: 180px;
    }
}